# Key         Value                               Example                                                Comments(if any)    
REPO_NAME="Your_repo_name"                 # local-code-graph
TARGET_REPO_PATH="Repo_folder/dir"         # //home//ubuntu//project//local-code-graph//my_mock_test
LOCAL_ENDPOINT="Endpoint_llama.cpp"        # http://localhost:8080/v1
OPENAI_API_KEY="Dummy_key_needed"          # dummy-key                                                   # For openai module
AI_MODEL_ID="Your_model_id"                # gemma4:e4b
APP_NAME="local-code-graph"                # local-code-graph
BACKEND_ENDPOINT="Backend_endpoint_port"   # http://localhost:8000/api/v1